/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/*Edited slightly to fit my project's needs*/
/* line 7, sass/partials/_reset.scss */
html {
  font-size: 0.625em; }

/* line 10, sass/partials/_reset.scss */
body {
  position: relative; }

/* line 13, sass/partials/_reset.scss */
main {
  width: 100%;
  padding: 0 5rem;
  box-sizing: border-box; }

/* line 18, sass/partials/_reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline; }

/* line 36, sass/partials/_reset.scss */
a {
  text-decoration: none;
  color: inherit; }

/* line 40, sass/partials/_reset.scss */
mark {
  background-color: transparent; }

/* HTML5 display-role reset for older browsers */
/* line 44, sass/partials/_reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

/* line 48, sass/partials/_reset.scss */
ol, ul {
  list-style: none; }

/* line 51, sass/partials/_reset.scss */
blockquote, q {
  quotes: none; }

/* line 54, sass/partials/_reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

/* line 59, sass/partials/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 1, sass/partials/_typography.scss */
h1 {
  font-family: "bebas-neue", Helvetica, sans-serif;
  font-size: 4.8rem;
  color: #000000;
  text-transform: uppercase;
  font-weight: normal;
  letter-spacing: 0.1rem; }

/* line 13, sass/partials/_typography.scss */
h3 {
  font-family: "bebas-neue", Helvetica, sans-serif;
  font-size: 1.8rem;
  color: #767676;
  text-transform: uppercase;
  font-weight: normal;
  letter-spacing: 0.15rem; }

/* line 22, sass/partials/_typography.scss */
h4 {
  font-family: "lato", Helvetica, sans-serif;
  font-size: 1.4rem;
  color: #000000;
  text-transform: uppercase;
  font-weight: normal;
  letter-spacing: 0.25rem; }

/* line 31, sass/partials/_typography.scss */
p {
  font-family: "lato", Helvetica, sans-serif;
  font-size: 1.4rem;
  color: #767676;
  letter-spacing: 0.01rem;
  line-height: 2rem; }

/* line 1, sass/partials/_header.scss */
.site-header {
  padding: 2.5rem 2.5rem 1rem 2.5rem;
  background: #ffffff;
  z-index: 1; }

/* line 7, sass/partials/_header.scss */
mark {
  margin: 0 1rem; }

/* line 11, sass/partials/_header.scss */
.branding {
  display: block; }

/* line 15, sass/partials/_header.scss */
.branding h1 {
  line-height: 3.8rem;
  display: inline; }

/* line 20, sass/partials/_header.scss */
.header-links {
  margin-bottom: 2rem;
  display: inline-block; }

/* line 25, sass/partials/_header.scss */
.header-links a {
  display: block;
  font-family: "lato", Helvetica, sans-serif;
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: normal;
  letter-spacing: 0.15rem;
  color: #767676;
  transition: all 0.15s ease-in-out; }

/* line 36, sass/partials/_header.scss */
.header-links a:hover {
  color: #000000; }

/* line 40, sass/partials/_header.scss */
.header-nav {
  margin-left: -2.5rem; }

/* line 45, sass/partials/_header.scss */
.header-nav::after {
  content: " ";
  display: block;
  height: 0;
  clear: both; }

/* line 52, sass/partials/_header.scss */
.header-nav .menu-item {
  float: left;
  margin-right: 2.5rem; }

/* line 57, sass/partials/_header.scss */
.header-nav a {
  position: relative;
  padding: 0 2.5rem;
  display: inline-block;
  font-family: "bebas-neue", Helvetica, sans-serif;
  color: #767676;
  font-size: 2.2rem;
  letter-spacing: 0.15rem;
  text-transform: uppercase;
  transition: color 0.2s ease-in-out; }

/* line 69, sass/partials/_header.scss */
.header-nav a::before {
  width: 2.5rem;
  content: '//';
  color: orangered;
  font-size: 2.8rem;
  line-height: 100%;
  -webkit-transform: translateX(2.5rem);
  -moz-transform: translateX(2.5rem);
  transform: translateX(2.5rem);
  display: inline-block;
  -moz-transition: -moz-transform 0.3s, opacity 0.2s;
  transition: transform 0.3s, opacity 0.2s;
  opacity: 0;
  -webkit-transition: -webkit-transform 0.3s, opacity 0.2s; }

/* line 85, sass/partials/_header.scss */
.header-nav .current-menu-item a {
  color: #000000; }

/* line 89, sass/partials/_header.scss */
.header-nav a:hover {
  color: #000000; }

/* line 93, sass/partials/_header.scss */
.header-nav a:hover::before, .header-nav .current-menu-item a::before {
  opacity: 1;
  transform: translateX(0); }

/* line 1, sass/partials/_footer.scss */
footer {
  padding: 6rem 2.5rem 2.5rem;
  clear: both; }

/* line 6, sass/partials/_footer.scss */
.footer-nav {
  display: inline-block; }

/* line 10, sass/partials/_footer.scss */
.footer-contact {
  display: inline-block;
  float: right;
  text-align: right; }

/* line 16, sass/partials/_footer.scss */
.footer-ctg {
  font-family: "lato", Helvetica, sans-serif;
  font-size: 1.2rem;
  color: #000000;
  text-transform: uppercase;
  letter-spacing: 0.05rem; }

/* line 24, sass/partials/_footer.scss */
footer li {
  margin: 0.2rem 0; }

/* line 28, sass/partials/_footer.scss */
footer a {
  font-family: "lato", Helvetica, sans-serif;
  font-size: 1.2rem;
  color: #767676;
  letter-spacing: 0.05rem;
  transition: all 0.15s ease-in-out; }

/* line 36, sass/partials/_footer.scss */
footer a:hover {
  color: #000000; }

/* line 40, sass/partials/_footer.scss */
footer img {
  width: 1.6rem;
  height: 1.6rem; }

/* line 1, sass/partials/_project.scss */
.project {
  position: relative; }

/* line 5, sass/partials/_project.scss */
.project-thumbnail {
  width: 100%;
  display: block;
  transition: all 0.6s ease; }

/* line 11, sass/partials/_project.scss */
.project-info {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  padding: 2.5rem;
  color: transparent;
  transition: all 0.3s ease-in-out; }

/* line 22, sass/partials/_project.scss */
.project h3 {
  color: transparent;
  font-family: "bebas-neue", Helvetica, sans-serif;
  font-size: 2.4rem;
  letter-spacing: 0.1rem;
  transition: all 0.3s ease-in-out; }

/* line 30, sass/partials/_project.scss */
.project p {
  color: transparent;
  font-family: "lato", Helvetica, sans-serif;
  font-size: 1.4rem;
  line-height: 2rem;
  letter-spacing: 0.1rem;
  transition: all 0.3s ease-in-out; }

/*---Hover Styling---*/
/* line 40, sass/partials/_project.scss */
.project:hover .project-info {
  opacity: 1;
  background: rgba(0, 0, 0, 0.6);
  color: initial; }

/* line 46, sass/partials/_project.scss */
.project:hover .project-thumbnail {
  -ms-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1); }

/* line 50, sass/partials/_project.scss */
.project:hover h3 {
  color: #ffffff; }

/* line 54, sass/partials/_project.scss */
.project:hover p {
  color: #e4e4e4; }

/* line 1, sass/partials/_grid.scss */
#grid {
  margin: 0rem; }

/* line 5, sass/partials/_grid.scss */
.grid-item,
.grid-sizer {
  position: relative;
  overflow: hidden;
  border: 0rem solid #ffffff;
  box-sizing: border-box; }

/* line 15, sass/partials/_grid.scss */
#grid[data-columns]::before {
  content: '3 .column.size-1of3'; }

/* These are the classes that are going to be applied: */
/* line 20, sass/partials/_grid.scss */
.column {
  float: left; }

/* line 21, sass/partials/_grid.scss */
.size-1of3 {
  width: 33.333%; }

/* line 1, sass/partials/_project-single.scss */
.project-single {
  width: 100%;
  height: 100%; }

/* line 6, sass/partials/_project-single.scss */
.project-imgs {
  width: 50%;
  float: left; }

/* line 11, sass/partials/_project-single.scss */
.project-imgs img {
  width: 100%;
  height: auto;
  display: block; }

/* line 17, sass/partials/_project-single.scss */
.project-details {
  width: 50%;
  display: inline-block;
  padding: 0 2.5rem;
  text-align: left;
  box-sizing: border-box; }

/* line 25, sass/partials/_project-single.scss */
.project-single h3 {
  font-size: 2.4rem;
  color: #000000; }

/* line 30, sass/partials/_project-single.scss */
.project-single .file-link {
  text-transform: lowercase;
  font-size: 1.6rem;
  line-height: 2rem;
  font-family: "lato", Helvetica, sans-serif;
  font-style: italic; }

/* line 38, sass/partials/_project-single.scss */
.project-details-header {
  margin-bottom: 5rem; }

/* line 42, sass/partials/_project-single.scss */
.project-details-sctn {
  margin-bottom: 2.5rem; }
