/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
/*Edited slightly to fit my project's needs*/
/* line 7, sass/partials/_reset.scss */
html {
  font-size: 0.625em;
}

/* line 10, sass/partials/_reset.scss */
body {
  position: relative;
}

/* line 13, sass/partials/_reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

/* line 31, sass/partials/_reset.scss */
a {
  text-decoration: none;
  color: inherit;
}

/* line 35, sass/partials/_reset.scss */
mark {
  background-color: transparent;
}

/* HTML5 display-role reset for older browsers */
/* line 39, sass/partials/_reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 43, sass/partials/_reset.scss */
ol, ul {
  list-style: none;
}

/* line 46, sass/partials/_reset.scss */
blockquote, q {
  quotes: none;
}

/* line 49, sass/partials/_reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 54, sass/partials/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 1, sass/partials/_typography.scss */
h1 {
  font-family: "bebas-neue", Helvetica, sans-serif;
  font-size: 4.8rem;
  color: #000000;
  text-transform: uppercase;
  font-weight: normal;
  letter-spacing: 0.1rem;
}

/* line 10, sass/partials/_typography.scss */
h2 {
  font-family: "bebas-neue", Helvetica, sans-serif;
  font-size: 3rem;
  color: #767676;
  text-transform: uppercase;
  font-weight: normal;
  letter-spacing: 0.175rem;
}

/* line 19, sass/partials/_typography.scss */
h3 {
  font-family: "bebas-neue", Helvetica, sans-serif;
  font-size: 1.8rem;
  color: #767676;
  text-transform: uppercase;
  font-weight: normal;
  letter-spacing: 0.15rem;
}

/* line 28, sass/partials/_typography.scss */
h4 {
  font-family: "lato", Helvetica, sans-serif;
  font-size: 1.2rem;
  color: #000000;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
}

/* line 1, sass/partials/_header.scss */
header {
  margin: 2.5rem;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
}

/* line 9, sass/partials/_header.scss */
mark {
  margin: 0 1rem;
}

/* line 13, sass/partials/_header.scss */
.intro-txt {
  display: inline-block;
}

/* line 17, sass/partials/_header.scss */
.header-contact {
  float: right;
  line-height: 3.6rem;
}

/* line 22, sass/partials/_header.scss */
.contact-link:hover {
  color: #000000;
}

/* line 26, sass/partials/_header.scss */
.header-nav {
  margin-top: 5rem;
}

/* line 30, sass/partials/_header.scss */
.header-nav .menu-item {
  float: left;
}

/* line 34, sass/partials/_header.scss */
.header-nav a {
  padding: 0 2.5rem;
  display: inline-block;
  font-family: "lato", Helvetica, sans-serif;
  font-size: 1.6rem;
  letter-spacing: 0.05rem;
  font-weight: lighter;
  text-transform: uppercase;
}

/* line 1, sass/partials/_footer.scss */
footer {
  padding: 6rem 5rem 2.5rem;
}

/* line 5, sass/partials/_footer.scss */
.footer-nav {
  display: inline-block;
}

/* line 9, sass/partials/_footer.scss */
.footer-contact {
  display: inline-block;
  float: right;
  text-align: right;
}

/* line 15, sass/partials/_footer.scss */
footer li {
  margin: 0.2rem 0;
}

/* line 19, sass/partials/_footer.scss */
footer a {
  font-family: "lato", Helvetica, sans-serif;
  font-size: 1.2rem;
  color: #767676;
  letter-spacing: 0.05rem;
}

/* line 26, sass/partials/_footer.scss */
footer a:hover {
  color: #000000;
}
