footer {
    padding: 6rem 2.5rem 2.5rem;
    clear: both; //to prevent wrapping with the projects grid
}

.footer-nav {
    display: inline-block;
}

.footer-contact {
    display: inline-block;
    float: right;
    text-align: right;
}

footer li {
    margin: 0.2rem 0;
}

footer a {
    font-family: $secondary-font-stack;
    font-size: 1.2rem;
    color: $secondary-font-color;
    letter-spacing: 0.05rem;
}

footer a:hover {
    color: $primary-font-color;
}
