.grid {
  margin: -$grid-border-width;
}

.grid-item {
  width: 33.33%;
  position: relative;
  overflow: hidden;
  float: left;
  border: $grid-border-width solid #ffffff;
  box-sizing: border-box;
}

.grid-item:before {
  content: "";
  display: block;
  padding-top: 100%;
}
