header {
    padding: 2.5rem;
}

mark {
    margin: 0 1rem;
}

.branding {
    display: inline-block;
    margin-bottom: 5rem;
}

.branding-subtitle {
    font-family: $primary-font-stack;
    font-size: 3rem;
    color: $secondary-font-color;
    text-transform: uppercase;
    font-weight: normal;
    letter-spacing: 0.175rem;
}

.header-contact {
    float: right;
    line-height: 3.6rem;
}

.contact-link,
.header-contact mark {
  font-family: $primary-font-stack;
  font-size: 1.8rem;
  text-transform: uppercase;
  font-weight: normal;
  letter-spacing: 0.15rem;
}

.header-contact mark {
  color: $primary-font-color;
}

.contact-link {
  color: $secondary-font-color;
  transition: all 0.15s ease-in-out;
}

.contact-link:hover {
    color: $primary-font-color;
}

//clearfix to prevent height collapse
.header-nav::after {
    content: " ";
    display: block;
    height: 0;
    clear: both;
}

.header-nav .menu-item {
    float: left;
    margin-right: 2.5rem;
}

.header-nav a {
    padding: 0 2.5rem;
    display: inline-block;
    font-family: $secondary-font-stack;
    font-size: 1.6rem;
    letter-spacing: 0.05rem;
    font-weight: lighter;
    text-transform: uppercase;
}
