.content {
  width: 100%;
  height: 100%;
  min-height: 50rem;
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
}

.bkgd {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: url(/assets/img/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    z-index: -1;
}

.hero {
  margin: auto;
  padding: 2rem 0;
  text-align: center;
}

.hero h1 {
  margin-bottom: 1.5rem;
  @media screen and (max-width: $break-medium) {
   margin-bottom: 0.5rem;
  }
}

.intro-txt {
  margin-bottom: 6.5rem;
  @media screen and (max-width: $break-medium) {
   margin-bottom: 4.5rem;
 }
}

.intro-txt p {
  line-height: 3.6rem;
  @media screen and (max-width: $break-medium) {
    line-height: 3rem;
  }
}

.cta {
  display: inline-block;
}

.cta-btn {
  position: relative;
  display: block;
  margin: 0 auto;
  margin-bottom: 1.5rem;
  padding: 0.75rem 1.75rem;
  color: $secondary-font-color;
  font-family: $primary-font-stack;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.2rem;
  letter-spacing: 0.25rem;
  background: #FFFFFF;
  border-radius: 5rem;
  overflow: hidden;
}

.cta-btn-txt {
  position: relative;
  display: inline-block;
  transition: all 0.15s;
  opacity: 1;
}

.cta-btn-icon {
  width: 2.8rem;
  position: absolute;
  left: 50%;
  top: 0.7rem;
  margin-left: -1.5rem;
  opacity: 0;
  -webkit-transform: scale(0); /* Ch <36, Saf 5.1+, iOS < 9.2, An =<4.4.4 */
  -ms-transform: scale(0); /* IE 9 */
  transform: scale(0); /* IE 10, Fx 16+, Op 12.1+ */
  transition: all 0.15s cubic-bezier(0.25, 0.1, 0.54, 1.34);
}

.cta-btn-txt::before {
  position: absolute;
  top: 100%;
  content: attr(data-hover);
  font-weight: 700;
  -webkit-transform: translate(0,0);
  -moz-transform: translate(0,0);
  transform: translate(0,0);
  padding-top: 4rem;
}

.cta-btn:hover .cta-btn-txt {
  opacity: 0;
}

.cta-btn:hover .cta-btn-icon {
  opacity: 1;
  -webkit-transform: scale(1); /* Ch <36, Saf 5.1+, iOS < 9.2, An =<4.4.4 */
  -ms-transform: scale(1); /* IE 9 */
  transform: scale(1); /* IE 10, Fx 16+, Op 12.1+ */
}

.content .txt-link {
  display: block;
}

/***Contact***/
.contact {
  align-self: flex-end;
  -webkit-align-self: flex-end;
  margin-bottom: 1rem;
  margin-right: 1rem;
  text-align: right;
}

.icon-list {
  text-align: right;
}

.contact li {
  display: inline-block;
}

.link-icon {
  margin: 0 0.75rem; //minimum allowed by Instagram brand guildelines
}

.letter-head {
  height: 4rem;
  transition: all 0.2s ease;
  @media screen and (max-width: $break-medium) {
    height: 3rem;
  }
}

/***SVG***/
.link-icon svg {
  height: 2.9rem; //minimum allowed by Instagram brand guidelines
  width: 2.9rem;
}

.link-icon svg * {
  opacity: 0.7;
  transition: all 0.1s ease-in-out;
  fill: $primary-font-color;
}

.link-icon:hover path {
  opacity: 1;
}
