.landing-page {
  position: absolute;
  background: gray;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  width: 100%;
}

.hero {
  margin: auto;
  padding: 5rem 0;
  text-align: center;
}

.hero h1 {
  margin-bottom: 5rem;
}

.intro-txt {
  margin-bottom: 7.5rem;
}

.cta {
  display: inline-block;
  margin: 0 auto;
  margin-bottom: 1.5rem;
  padding: 1rem 2.5rem;
  background: #FFFFFF;
  color: $secondary-font-color;
  font-family: $primary-font-stack;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 2rem;
  border-radius: 5rem;
  letter-spacing: 0.5rem;
}

.cta-secondary {
  display: block;
  font-family: $secondary-font-stack;
  text-decoration: underline;
  color: $primary-font-color;
  font-style: italic;
  font-size: 2rem;
  letter-spacing: 0.25rem;
}

/***Contact***/
.contact {
  align-self: flex-end;
  margin-bottom: 2rem;
  margin-right: 2rem;
}

.contact li {
  display: inline-block;
}

.contact-link {
  margin: 0 0.75rem; //minimum allowed by Instagram brand guildelines
}

/***SVG***/
.contact-link svg {
  height: 2.9rem; //minimum allowed by Instagram brand guidelines
}

.contact-icon {
  fill: $primary-font-color;
}

.contact-link:hover .contact-icon {
  fill: $secondary-font-color;
}
