.project {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.project-info {
  opacity: 0; //don't display until a project is hovered on
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  transition: all 0.3s ease-in-out;
}

/*---Hover Styling---*/
.project:hover .project-info {
  opacity: 1;
  background: rgba(255,255,255,0.85);
  border: 2.5rem solid transparent;
  padding: 2.5rem;
}
