.project {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.project-thumbnail {
  width: 100%;
  display: block;
  transition: all 0.6s ease;
}

.project-info {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  padding: 2.5rem;
  color: transparent;
  transition: all 0.3s ease-in-out;
}

.project h3 {
  color: transparent;
  font-family: $primary-font-stack;
  font-size: 2.4rem;
  letter-spacing: 0.1rem;
  transition: all 0.3s ease-in-out;
}

.project p {
  color: transparent;
  font-family: $secondary-font-stack;
  font-size: 1.4rem;
  line-height: 2rem;
  letter-spacing: 0.1rem;
  transition: all 0.3s ease-in-out;
}

/*---Hover Styling---*/
.project:hover .project-info {
  opacity: 1;
  background: rgba(0, 0, 0, 0.6);
  color: initial;
}

.project:hover .project-thumbnail {
  @include scale(1.1);
}

.project:hover h3 {
  color: #ffffff;
}

.project:hover p {
  color: $tertiary-font-color;
}
