h1 {
    font-family: $primary-font-stack;
    font-size: 5rem;
    color: $primary-font-color;
    letter-spacing: 0.05rem;
    line-height: 6rem;
    text-transform: uppercase;
    font-weight: 900;
    transition: all 0.2s ease;
    @media screen and (max-width: $break-medium) {
      font-size: 3.5rem;
    }
}

p,
.txt-link {
  font-family: $primary-font-stack;
  font-size: 1.5rem;
  color: $primary-font-color;
  letter-spacing: 0.1rem;
  font-weight: 100;
  transition: all 0.2s ease;
  @media screen and (max-width: $break-medium) {
    font-size: 1.3rem;
  }
}

.txt-link {
  font-style: italic;
  transition: all 0.15s ease-in-out;
  text-decoration: underline;
  opacity: 0.7;
}

.txt-link:hover {
  opacity: 1;
}
